nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #fff;
    height: 80px;
    padding: 0 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-container button {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-container button i {
    color: #212121;
    font-size: 16px;
  }
  